.main-panel {
    margin-top: 70px;
}

.head {
    color: white;
    text-align: center;
    margin-bottom: 50px
}

.follow-tw {
    margin-top: 9px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.recents {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.rc-li {
    margin-bottom: 7px !important;
}

.t-col {
    width: 50%;
}

.r-row {
    margin-top: 10px !important;
    margin-left: 20px;
    margin-right: 20px;
}

.s-t {
    margin-top: 20px !important;
}

body {
    background-color: #4db6ac;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.fw-btn {
    width: 100%;
}

.row-btn {
    margin-bottom: 0;
}

.bottom-btn {
    margin-bottom: 15px;
}

#loader {
    margin-bottom: 50px;
    margin-top: 50px;
}

.res-ok {
    color: #2e7d32;
}

.res-wa {
    color: #c62828;
}