{% extends "layout.html" %}

{% block content %}
    <div id="main">

        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#from-local">Upload File</a></li>
                    <li class="tab col s3"><a href="#from-web">From The Web</a></li>
                </ul>
            </div>
        </div>

        <div id="from-local" class="col s12">
            <form id="local-form" method="post" action="" enctype="multipart/form-data">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Select</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" title="file">
                    </div>
                </div>
                <button id="local-submit" class="btn-large waves-effect waves-light fw-btn" type="button" onclick="localSubmit()"
                        name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <br>
        </div>

        <div id="from-web" class="col s12">
            <form id="web-form" method="post" action="" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s4">
                        <select name="select">
                            <option value="" disabled selected>Choose</option>
                            <option value="youtube">YouTube</option>
                            {#                        <option value="lastfm">Last.fm</option>#}
                        </select>
                    </div>
                    <div class="input-field col s8">
                        <input id="url" name="url" type="url" class="validate" required>
                    </div>
                </div>
                <button id="web-submit" class="btn-large waves-effect waves-light fw-btn" style="margin-top: -20px"
                        type="button" onclick="webSubmit()" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <br>
        </div>

    </div>
    <div id="loader" class="center-align" hidden>
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}