<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>genrecognizer</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js.js') }}"></script>

<div class="container main-panel">
    <div class="row">
        <div id="main-div" class="card-panel col s10 offset-s1 m6 l6 offset-m1 offset-l1">
            {% block content %}
            {% endblock %}
        </div>
        <div class="card-panel recents col s10 offset-s1 m4 l4">
            <h5>Recently recognized:</h5>
            <ul>
                {% for recent in recents %}
                    <li class="rc-li"><b><a target="_blank" href="{{ recent['url'] }}">{{ recent['title'] }}</a></b> as
                        <b>{{ recent['answer'][0][0] }}</b>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</body>

</html>